<div class="previewBox <%= boxSize %>">
    <img class="previewImg" src="/img/bg.png" alt="背景">
    <img class="previewImg" id="<%= imgIdPrefix %>Hair" src="/img/hair<%= hair %>.png" alt="髪">
    <img class="previewImg" id="<%= imgIdPrefix %>Eyes" src="/img/eyes<%= eyes %>.png" alt="目">
    <img class="previewImg" id="<%= imgIdPrefix %>Mouth" src="/img/mouth<%= mouth %>.png" alt="口">
</div>