<!-- 登録ページ（名前・趣味・性格） -->

<!-- 
　このページに使われている変数
    title
    name
    age
    hobby
    MBTI
-->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>

    <% if (errorMessage) {%>
        <p style="color: red; font-weight: bold;">
            <%= errorMessage %>
        </p>
        <% } %>


            <!-- POSTで/siriai/newに通信する -->
            <form action="/siriai/edit" method="post">
                <!-- valueは最初に書かれてる文字 "の中に変数" -->
                <input type="hidden" name="id" value="<%= id %>">
                <h3>名前: <input type="text" name="name" value="<%= name %>"></h3>
                <h3>年齢: <input type="number" name="age" value="<%= age %>"></h3>
                <h3>関係: <input type="text" name="relation" value="<%= relation %>"></h3>
                <h3>趣味: <input type="text" name="hobby" value="<%= hobby %>"></h3>
                <h3>性格(MBTI): <input type="text" name="MBTI" value="<%= MBTI %>"> <a
                        href="https://shindan.vercel.app/posts/hXdsqlvSWmnSZORICCqP">わからない人はこのリンクをクリック</a></h3>
                <button id="update-button">更新する</button>
            </form>
            <p>
                <a href="../">戻る</a>
            </p>