//知り合い一覧ページ

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/avatar.css">
  <link rel="stylesheet" href="/stylesheets/itiran.css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <div>
    <table>
      <tr>
        <th>名前</th>
        <th>年齢</th>
        <th>関係</th>
        <th>趣味</th>
        <th>MBTI</th>
        <th>アバター</th>
        <!-- colspan="2"は二列分 -->
        <th colspan="2">操作</th>
        <th>お気に入り</th>
      </tr>
      <% for(var i in rows) { %>
        <tr>
          <% var obj=rows[i]; %>
            <td>
              <%= obj.name %>
            </td>
            <td>
              <%= obj.age %>
            </td>
            <td>
              <%= obj.relation %>
            </td>
            <td>
              <%= obj.hobby %>
            </td>
            <td>
              <%= obj.MBTI %>
            </td>
            <td>
              <%- include('avatar', { boxSize: 'size-itiran' , imgIdPrefix: 'list' + obj.id, hair: obj.hair, eyes:
                obj.eyes, mouth: obj.mouth }) %>
            </td>
            <td><a href="/siriai/edit?id=<%= obj.id %>">更新</a></td>
            <td><a href="/siriai/delete?id=<%= obj.id %>">削除</a></td>
            <td>
              <a href="/siriai/favorite?id=<%= obj.id %>">
                <%= obj.favorite===1 ? "★" : "☆" %>
              </a>
            </td>
        </tr>
        <% } %>
    </table>
  </div>
  <!-- views/index.ejsから/に変えた -->
  <a href="/">戻る</a>
</body>

</html>