<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/avatar.css">
    <link rel="stylesheet" href="/stylesheets/mii.css">
    <!-- <link rel="stylesheet" href="../../public/stylesheets/style.css"> -->
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= name %>さんの<%= title %>
    </h1>
    <div class="showButton">
        <input id="hair-button" type="button" value="髪型">
        <input id="eyes-button" type="button" value="目">
        <input id="mouth-button" type="button" value="口">
    </div>

    <form action="/siriai/mii" method="post">

        <input type="hidden" name="name" value="<%= name %>">
        <input type="hidden" name="age" value="<%= age %>">
        <input type="hidden" name="relation" value="<%= relation %>">
        <input type="hidden" name="hobby" value="<%= hobby %>">
        <input type="hidden" name="MBTI" value="<%= MBTI %>">
    
        <%- include('parts')%>
        <%- include('avatar', {
            boxSize: 'size-mii',    // 枠のサイズ
            imgIdPrefix: 'preview',   // IDの先頭につける文字
            hair: 1,                  // 髪型の番号
            eyes: 1,                  // 目の番号
            mouth: 1                  // 口の番号
            }) 
        %>

        <button type="submit">Mii完成</button>
        <button type="submit" formaction="/siriai/ai">AIでアバターを作る</button>

        
    </form>

    <script>
        // 引数にパーツ一覧のidが入り、それを表示させる関数
        //showButtonとpartsとavatarの連携

        //1
        function showParts(part) {
            document.getElementById('partsHair').style.display = 'none';
            document.getElementById('partsEyes').style.display = 'none';
            document.getElementById('partsMouth').style.display = 'none';
            document.getElementById(part).style.display = 'block';
        }

        // hair-bottonを押したら、partsHair（髪型パーツ一覧）を表示する
        document.getElementById('hair-button').addEventListener('click', function () {
            showParts('partsHair'); //1
        });
        document.getElementById('eyes-button').addEventListener('click', function () {
            showParts('partsEyes'); //1
        });
        document.getElementById('mouth-button').addEventListener('click', function () {
            showParts('partsMouth'); //1
        });


        // 選択しているhairのradioの値が変わったときに発火。
        document.querySelectorAll('input[name="hair"]').forEach(function (radio) {
            radio.addEventListener('change', function () {
                const img = document.getElementById('previewHair');
                img.src = '/img/hair' + this.value + '.png';
                img.style.display = 'block';
            });
        });
        document.querySelectorAll('input[name="eyes"]').forEach(function (radio) {
            radio.addEventListener('change', function () {
                const img = document.getElementById('previewEyes');
                img.src = '/img/eyes' + this.value + '.png';
                img.style.display = 'block';
            });
        });
        document.querySelectorAll('input[name="mouth"]').forEach(function (radio) {
            radio.addEventListener('change', function () {
                const img = document.getElementById('previewMouth');
                img.src = '/img/mouth' + this.value + '.png';
                img.style.display = 'block';
            });
        });

    </script>
</body>

</html>