//登録ページ（名前・趣味・性格）

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>
        <a href="../index">戻る</a>
    </p>
    <form action="/siriai/new" method="post">
        <!-- valueは最初に書かれてる文字 "の中に変数" -->
        <h3>名前: <input type="text" name="name" value="<%= name %>" required></h3>
        <h3>年齢: <input type="number" name="age" value="<%= age %>"></h3>
        <h3>趣味: <input type="text" name="hobby" value="<%= hobby %>"></h3>
        <h3>性格(MBTI): <input type="text" name="MBTI" value="<%= MBTI %>"></h3>
    </form>

    <button id="next-button">Mii作成する</button>

    <script>
        document.getElementById('next-button').addEventListener('click', function () {
            // フォームから値を取得
            const userName = document.querySelector('input[name="name"]').value;
            const age = document.querySelector('input[name="age"]').value;
            const hobby = document.querySelector('input[name="hobby"]').value;
            const MBTI = document.querySelector('input[name="MBTI"]').value;

            sessionStorage.setItem('name', userName);
            sessionStorage.setItem('age', age);
            sessionStorage.setItem('hobby', hobby);
            sessionStorage.setItem('MBTI', MBTI);

            console.log(userName);
            console.log(age);
            console.log(hobby);
            console.log(MBTI);
            window.location.href = '/siriai/new/mii';
        })
    </script>
</body>

</html>